.mentions__control {
  background-color: #fff;
  font-size: 14px;
  border-radius: 8px;
  min-height: 80px;
  border: 1px solid #cccccc;
}
.mentions__input {
  padding: 12px;
  border-radius: 8px;
  outline: none;
  width: 100%;
}
.mentions__input:focus {
  box-shadow: 0 0 0 1px #7695ec;
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.mentions__suggestions__item {
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
}

.mentions__suggestions__item--focused {
  background-color: #f3f4f6;
}
.mentions__mention {
  background-color: rgba(118, 149, 236, 0.2);
  color: #7695ec;
  font-weight: 600;
  border-radius: 4px;
  padding: 1px 2px;
}
